# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Program\Github\Data-Structures-And-Algorithms-\CSES PROBLEM SET\Searching_Sorting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
